.social-links-wrapper {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
}

.social-links-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.social-links-wrapper ul::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.social-links-wrapper li {
    padding: 10px 0;
}

.social-links-wrapper a svg {
    height: 20px;
    width: 20px;
    transition: all 0.3s ease;
}

.social-links-wrapper a:hover svg {
    stroke: var(--green);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .social-links-wrapper {
        /* Unset all the fixed positioning */
        position: relative;
        left: auto;
        bottom: auto;
        width: 100%;
        
        padding: 2rem 0; /* Add some spacing */
    }

    .social-links-wrapper ul {
        flex-direction: row; /* Make the list horizontal */
        justify-content: center;
    }

    /* Hide the vertical line on mobile */
    .social-links-wrapper ul::after {
        display: none;
    }

    .social-links-wrapper li {
        padding: 0 15px; /* Add horizontal spacing between icons */
    }
}